<!-- header -->
<header class="top-header" style>
   <div class="container">
      <div class="d-flex justify-content-sm-center justify-content-sm-end">
         <h1 class="logo m-0"><a href="/web/"><img src="src/assets/images/logo_ntt.png" alt=""
                  style="height: 70px !important;"></a></h1>
         <div class="h-wrapper">
            <button type="button" class="btn btn-hnav hidden-lg-up" id="hnav-trigger" data-trigger="#hnav"><i
                  class="fa fa-bars"></i></button>

            <div class="d-lg-flex justify-content-md-end" id="hnav">
               <div class="mr-auto">
                  <div class="hotline mb-0 text-md-left" id="phoneList">
                     <div class="h-title">Hotline: </div>
                     <ul class="list-unstyled">
                        <li>
                           <a href="tel:0902.298.300">0902.298.300</a> -
                           <a href="tel:0906.298.300">0906.298.300</a>
                        </li>
                        <li>
                           <a href="tel:0912.298.300">0912.298.300</a> -
                           <a href="tel:0914.298.300">0914.298.300</a>
                        </li>
                     </ul>
                  </div>
               </div>
               <nav class="hnav col-lg-8">
                  <ul class="d-lg-flex justify-content-between">
                     <li><a href="index_13.html">Sinh viên</a></li>
                     <li><a href="index_1.html">Giảng viên</a></li>
                     <li><a href="trang-chinh.html">Đào tạo quốc tế</a></li>

                     <li>
                        <a href="co-so-dao-tao.html"></a>
                     </li>
                  </ul>
               </nav>
            </div>
            <!-- /hwrapper -->
         </div>

         <div class="search-wrapper d-flex justify-content-between">
            <div class="search">
               <form action="/web/tim-kiem">
                  <div class="input-group">
                     <input class="form-control btn-transparent border-0" placeholder="Tìm kiếm thông tin"
                        name="keyword">
                     <span class="input-group-btn">
                        <button class="btn btn-transparent btn-secondary border-0"><i class="fa fa-search"
                              aria-hidden="true"></i></button>
                     </span>
                  </div>
               </form>
               <!-- /search -->
            </div>

            <div class="language" style="margin-left: 10px; margin-top: 5px;">
               <a class="text-center" href="web.html"><img src="images/ico-flagen.jpg" alt></a>
            </div>
         </div>
      </div>
      <!-- /container -->
   </div>
   <!-- /top-header -->
</header>
<div class="header" style="box-shadow: 0 1px 1px rgba(0,0,0,0.15);">
   <div class="container">
      <div class="d-flex align-items-center py-2">
         <h1 class="logo m-0"><a href="index.html"><img src="images/logo_ntt.png" alt
                  style="height: 70px !important;"></a></h1>

         <div class=" w-100 hidden-md-down">
            <ul class="h-nav list-unstyled mb-0 d-flex justify-content-between align-items-center"
               style="margin-left: 20px;">
               <li>
                  <a routerLink="/introduce" routerLinkActive="active" class="d-flex align-items-center">
                     <span class="bdr-round"><i class="fa fa-info-circle"></i></span>
                     <span class="txt">Giới thiệu</span>
                  </a>
               </li>
               <li>
                  <a href="tuyen-sinh.html" class="d-flex align-items-center">
                     <span class="bdr-round"><i class="fa fa-graduation-cap"></i></span>
                     <span class="txt">Tuyển sinh</span>
                  </a>
               </li>
               <li>
                  <a href="dao-tao.html" class="d-flex align-items-center">
                     <span class="bdr-round"><i class="fa fa-book"></i></span>
                     <span class="txt">Đào tạo</span>
                  </a>
               </li>
               <li>
                  <a href="nghien-cuu.html" class="d-flex align-items-center">
                     <span class="bdr-round"><i class="fa fa-bookmark"></i></span>
                     <span class="txt">Nghiên cứu</span>
                  </a>
               </li>
               <li>
                  <a href="hop-tac-doanh-nghiep.html" class="d-flex align-items-center">
                     <span class="bdr-round"><i class="fa fa-handshake-o"></i></span>
                     <span class="txt">Hợp tác doanh nghiệp</span>
                  </a>
               </li>
               <!-- /h-nav -->
            </ul>
         </div>
         <!-- /d-flex -->
      </div>
      <button type="button" class="btn btn-gnav" id="menu-trigger" data-trigger="#menu"><i
            class="fa fa-bars c-blue-a5"></i></button>
      <!-- /container -->
   </div>
   <!-- /header -->
</div>
<div class="gnav">
   <div class="container">
      <nav id="menu">
         <div class="row">
            <div class="col-lg-3 col-sm-6">
               <p><a href="gioi-thieu.html">Giới thiệu chung</a></p>
               <ul class="sub-nav">
                  <li><a href="gioi-thieu-chung.html"><i class="fa fa-angle-double-right"></i>Giới thiệu chung</a></li>
                  <li><a href="toan-canh-dh-nguyen-tat-thanh.html"><i class="fa fa-angle-double-right"></i>Toàn cảnh ĐH
                        Nguyễn Tất Thành</a></li>
                  <li><a href="thong-tin-3-cong-khai.html"><i class="fa fa-angle-double-right"></i>Thông tin 3 công
                        khai</a></li>
                  <li><a href="index_9.html"><i class="fa fa-angle-double-right"></i>Đảm bảo chất lượng</a></li>
                  <li><a href="phat-trien-ben-vung.html"><i class="fa fa-angle-double-right"></i>Phát triển bền vững</a>
                  </li>
               </ul>

               <p><a href="#">Hợp tác doanh nghiệp</a></p>
               <ul class="sub-nav">
                  <li><a href="gioi-thieu-viec-lam.html"><i class="fa fa-angle-double-right"></i>Giới thiệu việc làm</a>
                  </li>
                  <li><a href><i class="fa fa-angle-double-right"></i>Giới thiệu thực tập</a></li>
                  <li><a href><i class="fa fa-angle-double-right"></i>Câu lạc bộ Doanh nghiệp</a></li>
                  <li><a href><i class="fa fa-angle-double-right"></i>Ban liên lạc Cựu sinh viên</a></li>
                  <li><a href="tin-tuc-va-su-kien.html"><i class="fa fa-angle-double-right"></i>Liên kết - Hợp tác</a>
                  </li>
               </ul>
            </div>
            <div class="col-lg-3 col-sm-6">
               <p><a href="#">Tuyển sinh</a></p>
               <ul class="sub-nav">
                  <li><a href="cac-bac-dao-tao.html"><i class="fa fa-angle-double-right"></i>Các bậc đào tạo</a></li>
                  <li><a href="thong-tin-tuyen-sinh.html"><i class="fa fa-angle-double-right"></i>Thông tin tuyển
                        sinh</a></li>
                  <li><a href="chinh-sach-hoc-bong.html"><i class="fa fa-angle-double-right"></i>Chính sách học bổng</a>
                  </li>
                  <li><a href="huong-nghiep.html"><i class="fa fa-angle-double-right"></i>Hướng nghiệp</a></li>
                  <li><a href="dang-ky-truc-tuyen.html"><i class="fa fa-angle-double-right"></i>Xét tuyển trực tuyến</a>
                  </li>
               </ul>

               <p><a href="#">Nghiên cứu</a></p>
               <ul class="sub-nav">
                  <li><a href="hoat-dong-khcn.html"><i class="fa fa-angle-double-right"></i>Hoạt động khoa học công
                        nghệ</a></li>
                  <li><a href="index_16.html"><i class="fa fa-angle-double-right"></i>Viện - Trung tâm nghiên cứu</a>
                  </li>
                  <li><a href="index_16.html"><i class="fa fa-angle-double-right"></i>Công bố khoa học</a></li>
               </ul>
            </div>

            <div class="col-lg-3 col-sm-6">
               <p><a href="dao-tao.html">Đào tạo</a></p>
               <ul class="sub-nav">
                  <li><a href="khoi-khoa-hoc-suc-khoe.html"><i class="fa fa-angle-double-right"></i>Khối Khoa học sức
                        khỏe</a></li>
                  <li><a href="khoi-kinh-te-quan-tri.html"><i class="fa fa-angle-double-right"></i>Khối Kinh tế - Quản
                        trị</a></li>
                  <li><a href="khoi-ky-thuat-cong-nghe.html"><i class="fa fa-angle-double-right"></i>Khối Kỹ thuật -
                        Công nghệ</a></li>
                  <li><a href="khoi-khoa-hoc-xa-hoi-nhan-van.html"><i class="fa fa-angle-double-right"></i>Khối Khoa học
                        xã hội - Nhân văn</a></li>
                  <li><a href="khoi-my-thuat-nghe-thuat.html"><i class="fa fa-angle-double-right"></i>Khối Mỹ thuật -
                        Nghệ thuật</a></li>
                  <li><a href="trang-chinh.html"><i class="fa fa-angle-double-right"></i>Khối đào tạo quốc tế</a></li>
               </ul>
            </div>

            <div class="col-lg-3 col-sm-6">
               <ul class="sub-page">
                  <li><a href="unsupportedbrowser.html" class="btn"><i class="fa fa-facebook-official"></i>Facebook</a>
                  </li>
                  <li><a href="ServiceLogin.html" class="btn"><i class="fa fa-google-plus"></i>Google Plus</a></li>
                  <li><a href="daihocntt.html" class="btn"><i class="fa fa-youtube-play"></i>Youtube</a></li>
                  <li><a href="mailto:#" class="btn"><i class="fa fa-envelope"></i>Email</a></li>
                  <li><a href="#" class="btn"><i class="fa fa-wechat"></i>Zalo</a></li>
                  <li><a href="Login.aspx" class="btn"><i class="fa fa-mortar-board"></i>Egov</a></li>
                  <li><a href="index_1.html" class="btn"><i class="fa fa-users"></i>Tuyển dụng</a></li>
               </ul>
            </div>
         </div>
      </nav>
      <!-- /container -->
   </div>
   <!-- /gnav -->
</div>
<!-- header -->
<div class="container">
   <div class="row">
      <section id="content">
         <div id="slider-main" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
               <div class="carousel-item active" style="background-image: url('/assets/images/Web_Slider.jpg');"
                  data-link="http://ntt.edu.vn/web/tin-tuc/dh-nguyen-tat-thanh-nhan-ho-so-xet-tuyen-hoc-ba-dot-cuoi-den-ngay-03-09-2019">
                  <div class="carousel-caption d-block text-left">
                     <h3>ĐH Nguyễn Tất Thành nhận hồ sơ xét tuyển học bạ đợt cuối đến ngày 03/09/2019</h3>
                     <p></p>
                  </div>
               </div>
               <div class="carousel-item "
                  style="background-image: url('/assets/images/BANER-FUTSAL-SINH-VIEN-TP-HCM-2019_NTTU.jpg');"
                  data-link>
                  <div class="carousel-caption d-block text-left">
                     <h3>Giải đấu Futsal SV Thành phố Hồ Chí Minh 2019</h3>
                     <p></p>
                  </div>
               </div>
               <div class="carousel-item "
                  style="background-image: url('/assets/images/Chinh-sach-hoc-bong-NTTU_Web-Slider.jpg');"
                  data-link="http://ntt.edu.vn/web/thong-tin/chinh-sach-hoc-bong-truong-dai-hoc-nguyen-tat-thanh-nam-2019">
                  <div class="carousel-caption d-block text-left">
                     <h3>Chính sách học bổng Trường Đại học Nguyễn Tất Thành năm 2019</h3>
                     <p></p>
                  </div>
               </div>
               <div class="carousel-item "
                  style="background-image: url('/assets/images/Lien-thong-NTTU_Web-Slider.jpg');"
                  data-link="http://ntt.edu.vn/web/tin-tuc/truong-dh-nguyen-tat-thanh-tuyen-sinh-dai-hoc-cao-dang-lien-thong-he-chinh-quy-nam-2019-dot-2-nganh-duoc-va-dieu-duong">
                  <div class="carousel-caption d-block text-left">
                     <h3>Tuyển sinh liên thông 2019</h3>
                     <p></p>
                  </div>
               </div>
               <div class="carousel-item "
                  style="background-image: url('/assets/images/Thac-sy-2019-NTTU_Web-Slider.jpg');"
                  data-link="http://saudaihoc.ntt.edu.vn/">
                  <div class="carousel-caption d-block text-left">
                     <h3>Tuyển sinh trình độ Thạc sỹ đợt 1 năm 2019 tại ĐH Nguyễn Tất Thành</h3>
                     <p></p>
                  </div>
               </div>
               <div class="carousel-item "
                  style="background-image: url('/assets/images/Vien%20dao%20tao%20quoc%20te%20NTT%202019_NIIE.jpg');"
                  data-link="http://niie.edu.vn/vi/trang-chu/">
                  <div class="carousel-caption d-block text-left">
                     <h3>Viện đào tạo quốc tế NTT (NIIE) - "Cử nhân quốc tế, Cơ hội toàn cầu"</h3>
                     <p></p>
                  </div>
               </div>
               <div class="carousel-item "
                  style="background-image: url('/assets/images/Phuong-thuc-tuyen-sinh-NTTU_Web-Slider.jpg');"
                  data-link="http://ntt.edu.vn/web/tin-tuc/thong-tin-tuyen-sinh-nam-2019-tai-truong-dh-nguyen-tat-thanh">
                  <div class="carousel-caption d-block text-left">
                     <h3>Thông tin tuyển sinh năm 2019 tại ĐH Nguyễn Tất Thành</h3>
                     <p></p>
                  </div>
               </div>
               <div class="carousel-item "
                  style="background-image: url('/assets/images/Tham-van-chuyen-gia-NTTU_Web-Slider.jpg');"
                  data-link="https://www.youtube.com/user/daihocntt/playlists">
                  <div class="carousel-caption d-block text-left">
                     <h3>Lịch phát sóng Chương trình Tham vấn Chuyên gia</h3>
                     <p></p>
                  </div>
               </div>

            </div>
            <div class="carousel-controls">
               <a class="carousel-control-prev justify-content-end" href="#slider-main" role="button" data-slide="prev">
                  <span class="fa fa-angle-left" aria-hidden="true"></span>
               </a>
               <a class="carousel-control-next justify-content-start" href="#slider-main" role="button"
                  data-slide="next">
                  <span class="fa fa-angle-right" aria-hidden="true"></span><span class="sr-only">Next</span>
               </a>
            </div>
         </div>
         <div class="d-md-flex section mt-4">
            <div class="col-md-9">
               <h2 class="heading-2"><a href="tin-tuc.html">Tin tức</a></h2>
               <div class="row">
                  <article class="col-md-4 col-sm-6 post-home">
                     <a class="thumbnail"
                        href="da-tim-thay-quan-quan-cua-cuoc-thi-y-tuong-sang-tao-khoi-nghiep-mo-rong-tai-dh-nguyen-tat-thanh-nttu-start-up-open-day-2019.html">
                        <img src="/assets/images/unnamed%20%287%29.jpg" alt>
                     </a>
                     <a href="da-tim-thay-quan-quan-cua-cuoc-thi-y-tuong-sang-tao-khoi-nghiep-mo-rong-tai-dh-nguyen-tat-thanh-nttu-start-up-open-day-2019.html"
                        class="title" style="overflow: hidden; height: 65px;">Đã tìm thấy quán quân của cuộc thi Ý tưởng
                        sáng
                        tạo khởi nghiệp mở rộng tại ĐH Nguyễn Tất Thành – NTTU Start-up Open Day 2019</a>
                     <div class="content">
                        <p>NTTU - Hưởng ứng Tuần lễ Đổi mới sáng tạo và Khởi nghiệp TP. HCM 2019 do Sở Khoa học – Công
                           nghệ
                           TP.HCM phát động, Trường Đại học Nguyễn Tất Thành tổ chức Cuộc thi Ý tưởng Sáng tạo Khởi
                           nghiệp mở
                           rộng tại ĐH Nguyễn Tất Thành - NTTU START-UP OPEN DAY 2019. Trải qua các vòng thi hấp dẫn,
                           gay cấn,
                           10 đội thi với 10 ý tưởng khả thi nhất đã tranh tài tại Gala Chung kết diễn ra vào chiều ngày
                           24/08/2019</p>
                     </div>
                  </article>
                  <article class="col-md-4 col-sm-6 post-home">
                     <a class="thumbnail"
                        href="nhung-chinh-sach-can-sua-doi-de-thuc-day-hop-tac-giua-cac-truong-ngoai-cong-lap.html">
                        <img src="/assets/images/GS.TS%20Tran%20Hong%20Quan.JPG" alt>
                     </a>
                     <a href="nhung-chinh-sach-can-sua-doi-de-thuc-day-hop-tac-giua-cac-truong-ngoai-cong-lap.html"
                        class="title" style="overflow: hidden; height: 65px;">Những chính sách cần sửa đổi để thúc đẩy
                        hợp tác
                        giữa các trường ngoài công lập</a>
                     <div class="content">
                        <p>NTTU - Ngày 23/8 tại Trường ĐH Nguyễn Tất Thành, GS.TS Trần Hồng Quân – Nguyên Bộ trưởng Bộ
                           GD&amp;ĐT – Chủ tịch hiệp hội các trường Đại học – Cao đẳng Việt Nam chủ trì buổi hội thảo về
                           “Các
                           vấn đề tồn tại, những chính sách cần sửa đổi để thúc đẩy hệ thống và cơ hội hợp tác giữa các
                           trường
                           đại học”. Đây là kết quả làm việc tại buổi họp mặt kiện toàn CLB các trường đại học cao đẳng
                           ngoài
                           công lập được tổ chức vào ngày 16/6 vừa qua.</p>
                     </div>
                  </article>
                  <article class="col-md-4 col-sm-6 post-home">
                     <a class="thumbnail"
                        href="dh-nguyen-tat-thanh-nhan-ho-so-xet-tuyen-hoc-ba-dot-cuoi-den-ngay-03-09-2019.html">
                        <img src="/assets/images/Web_Post.jpg" alt>
                     </a>
                     <a href="dh-nguyen-tat-thanh-nhan-ho-so-xet-tuyen-hoc-ba-dot-cuoi-den-ngay-03-09-2019.html"
                        class="title" style="overflow: hidden; height: 65px;">ĐH Nguyễn Tất Thành nhận hồ sơ xét tuyển
                        học bạ đợt cuối đến
                        ngày 03/09/2019</a>
                     <div class="content">
                        <p>NTTU - Với ưu điểm linh hoạt, thuận tiện và đặc biệt là cho phép thí sinh (TS) chủ động hơn
                           trong
                           quá trình xét tuyển, phương thức xét tuyển bằng học bạ lớp 12 đang dần khẳng định được sức
                           hút của
                           mình.Theo đó, Trường ĐH Nguyễn Tất Thành nhận hồ sơ xét tuyển học bạ đợt cuối cùng đến ngày
                           03/09/2019</p>
                     </div>
                  </article>
               </div>
               <ul class="list-unstyled" style="float: right;">
                  <li><a class="c-blue-a5 font-weight-bold" href="tin-tuc.html"><i
                           class="fa fa-chevron-circle-right mr-2 c-blue-a5"></i>Xem thêm</a></li>
               </ul>
            </div>
            <div class="col-md-3">
               <h2 class="heading-2">Media</h2>
               <article class="post-video" style="width: inherit">
                  <!-- <iframe style="width: inherit;" src="SwWJkVE6vMg.html" frameborder="0" allowfullscreen></iframe> -->
                  <div class="description">
                     <ul class="list-style-1">
                        <li><i class="fa fa-angle-right"></i><a href="watch.html">NỎ THẦN - TẬP 8 | BẬT MÍ VỀ NỎ THẦN VÀ
                              NHỮNG
                              CÂU CHUYỆN CÓ THẬT</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="watch_1.html">NỎ THẦN | TẬP CUỐI: ĐƯỜNG VỀ QUY
                              LẠC</a>
                        </li>
                        <li><i class="fa fa-angle-right"></i><a href="watch_2.html">NỎ THẦN - TẬP 9 | GIẢI CỨU THỤC UY -
                              SỰ
                              THẬT HÉ LỘ</a></li>
                     </ul>
                     <a class="c-blue-a5 font-weight-bold row justify-content-end align-items-center m-0"
                        href="UCPuljJ0RsiXHf3odISzjqDw.html"><i class="fa fa-chevron-circle-right mr-2"></i>Xem thêm</a>
                  </div>
               </article>
            </div>
         </div>
         <div class="section sub-slider">
            <h3 class="title-carousel"><b>
                  TẠI SAO CHỌN ĐẠI HỌC NGUYỄN TẤT THÀNH?
               </b></h3>
            <div class="multi-slide">
               <div class="slide d-flex justify-content-center"
                  style="background-image: url('fonts/hp_nguoithay-01.svg');">
                  <div class="caption text-center">
                     <p class="highlight"><a href="chuan-3-sao-qs-stars-anh-quoc.html"
                           style="text-decoration: none; color: inherit">Chuẩn 3 sao QS-Stars (Anh Quốc)</a></p>
                     <p class="line">Xếp hạng quốc tế 3 sao theo chuẩn QS-Stars, một trong các chuẩn xếp hạng hàng đầu
                        dành
                        cho các trường đại học trên thế giới.</p>
                  </div>
               </div>
               <div class="slide d-flex justify-content-center" style="background-image: url('fonts/hp_xhoi-01.svg');">
                  <div class="caption text-center">
                     <p class="highlight"><a href="dat-chuan-chat-luong-quoc-gia.html"
                           style="text-decoration: none; color: inherit">Đạt chuẩn chất lượng quốc gia</a></p>
                     <p class="line">Là trường đại học ngoài công lập đầu tiên tại TP.HCM được kiểm định đạt chất lượng
                        theo
                        bộ tiêu chí quốc gia do Bộ GD&amp;ĐT ban hành.</p>
                  </div>
               </div>
               <div class="slide d-flex justify-content-center"
                  style="background-image: url('fonts/hp_nhatruong-01.svg');">
                  <div class="caption text-center">
                     <p class="highlight"><a href="dai-hoc-hanh-phuc.html"
                           style="text-decoration: none; color: inherit">Đại
                           học hạnh phúc</a></p>
                     <p class="line">Đại học Nguyễn Tất Thành là ngôi trường tri thức và hạnh phúc dành cho sinh viên
                        với 5
                        giá trị nổi bật</p>
                  </div>
               </div>
               <div class="slide d-flex justify-content-center"
                  style="background-image: url('fonts/hp_sinhvien-01.svg');">
                  <div class="caption text-center">
                     <p class="highlight"><a href="top-10-thuong-hieu-noi-tieng.html"
                           style="text-decoration: none; color: inherit">Top 10 thương hiệu nổi tiếng</a></p>
                     <p class="line">Trong những năm qua, Trường ĐH Nguyễn Tất Thành đã không ngừng đổi mới công tác
                        quản trị
                        đại học, nâng cao chất lượng đào tạo, nghiên cứu khoa học, công tác hợp tác quốc tế, công tác
                        sinh
                        viên.</p>
                  </div>
               </div>
               <div class="slide d-flex justify-content-center"
                  style="background-image: url('fonts/hp_doanhnghiep-01.svg');">
                  <div class="caption text-center">
                     <p class="highlight"><a href="95-sinh-vien-tot-nghiep-co-viec-lam.html"
                           style="text-decoration: none; color: inherit">95% sinh viên tốt nghiệp có việc làm</a></p>
                     <p class="line">Định vị là trường ứng dụng và thực hành hướng tới mục tiêu đáp ứng nhu cầu giáo dục
                        đại
                        học đại chúng, trí thức hóa nguồn nhân lực, tạo môi trường học tập tích cực và trải nghiệm thực
                        tiễn
                        cho sinh viên.</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="section d-md-flex border-top pt-4">
            <div class="col-lg-8">
               <div class="row">
                  <article class="col-sm-6 post-home">
                     <h2 class="heading-2"><a href="hop-tac-quoc-te.html">Hợp tác quốc tế</a></h2>
                     <a class="thumbnail large" href="#">
                        <img src="/assets/images/a389bc0530ffd5a18cee.jpg" alt width="100%">
                     </a>
                     <a href="dh-nguyen-tat-thanh-tham-gia-dien-dan-nang-cao-chat-luong-dao-tao-viet-nam-lao-va-trien-lam-giao-duc-viet-nam-2019.html"
                        class="title" style="overflow: hidden; height: 65px;">ĐH Nguyễn Tất Thành tham gia Diễn đàn nâng
                        cao
                        chất lượng đào tạo Việt Nam – Lào và Triển lãm giáo dục Việt Nam 2019</a>
                     <div class="content">
                        <p>NTTU – Từ ngày 26/5 đến 30/05/2019 tại Trường ĐH Quốc gia Lào, Thủ đô Viêng Chăn, Cộng hòa
                           Dân chủ
                           Nhân dân Lào đã diễn ra Diễn đàn nâng cao chất lượng đào tạo Việt Nam – Lào và Triển lãm giáo
                           dục
                           Việt Nam 2019. ĐH Nguyễn Tất Thành là một trong số các trường ĐH tại Việt Nam tham gia diễn
                           đàn
                           này.</p>
                     </div>
                     <ul class="list-unstyled">
                        <li><a class="c-blue-a5 font-weight-bold" href="hop-tac-quoc-te.html"><i
                                 class="fa fa-chevron-circle-right mr-2 c-blue-a5"></i>Xem thêm</a></li>
                     </ul>
                  </article>
                  <article class="col-sm-6 post-home">
                     <h2 class="heading-2"><a href="#">Môi trường học tập</a></h2>
                     <a class="thumbnail large"
                        href="da-tim-thay-quan-quan-cua-cuoc-thi-y-tuong-sang-tao-khoi-nghiep-mo-rong-tai-dh-nguyen-tat-thanh-nttu-start-up-open-day-2019_1.html">
                        <img src="/assets/images/unnamed%20%287%29.jpg" alt width="100%">
                     </a>
                     <a href="da-tim-thay-quan-quan-cua-cuoc-thi-y-tuong-sang-tao-khoi-nghiep-mo-rong-tai-dh-nguyen-tat-thanh-nttu-start-up-open-day-2019_1.html"
                        class="title" style="overflow: hidden; height: 65px;">Đã tìm thấy quán quân của cuộc thi Ý tưởng
                        sáng
                        tạo khởi nghiệp mở rộng tại ĐH Nguyễn Tất Thành – NTTU Start-up Open Day 2019</a>
                     <div class="content">
                        <p>NTTU - Hưởng ứng Tuần lễ Đổi mới sáng tạo và Khởi nghiệp TP. HCM 2019 do Sở Khoa học – Công
                           nghệ
                           TP.HCM phát động, Trường Đại học Nguyễn Tất Thành tổ chức Cuộc thi Ý tưởng Sáng tạo Khởi
                           nghiệp mở
                           rộng tại ĐH Nguyễn Tất Thành - NTTU START-UP OPEN DAY 2019. Trải qua các vòng thi hấp dẫn,
                           gay cấn,
                           10 đội thi với 10 ý tưởng khả thi nhất đã tranh tài tại Gala Chung kết diễn ra vào chiều ngày
                           24/08/2019</p>
                     </div>
                     <ul class="list-unstyled">
                        <li><a class="c-blue-a5 font-weight-bold" href="moi-truong-hoc-tap.html"><i
                                 class="fa fa-chevron-circle-right mr-2 c-blue-a5"></i>Xem thêm</a></li>
                     </ul>
                  </article>
               </div>
            </div>
            <div class="col-lg-4">
               <h2 class="heading-2"><a href="#">Sự kiện nổi bật</a></h2>
               <ul class="list-unstyled">
                  <li class="media event">
                     <div class="d-flex align-items-center mr-3 thumb c-white">
                        <span class="inner text-center w-100">
                           Aug<br>
                           <b>31</b>
                        </span>
                     </div>
                     <div class="media-body">
                        <h5 class="title mt-0"><a href="gala-chao-don-tan-sinh-vien.html">Gala chào đón Tân sinh
                              viên</a></h5>
                        <ul class="breadcrumb mb-0 bgm-white">
                           <li class="breadcrumb-item col-xs-auto time">
                              <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>15:00
                           </li>
                           <li class="breadcrumb-item col-xs-auto">Nhà thi đấu Quân khu 7</li>
                        </ul>
                     </div>
                  </li>
                  <li class="media event">
                     <div class="d-flex align-items-center mr-3 thumb c-white">
                        <span class="inner text-center w-100">
                           Aug<br>
                           <b>24</b>
                        </span>
                     </div>
                     <div class="media-body">
                        <h5 class="title mt-0"><a href="hoi-thi-nhay-dan-vu-nhay-co-dong-2019.html">Hội thi Nhảy dân vũ,
                              nhảy
                              cổ động 2019</a></h5>
                        <ul class="breadcrumb mb-0 bgm-white">
                           <li class="breadcrumb-item col-xs-auto time">
                              <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>15:00
                           </li>
                           <li class="breadcrumb-item col-xs-auto">Hội trường A.801, 300A Nguyễn Tất Thành, phường 13,
                              quận 4,
                              TP. HCM</li>
                        </ul>
                     </div>
                  </li>
                  <li class="media event">
                     <div class="d-flex align-items-center mr-3 thumb c-white">
                        <span class="inner text-center w-100">
                           Aug<br>
                           <b>24</b>
                        </span>
                     </div>
                     <div class="media-body">
                        <h5 class="title mt-0"><a
                              href="chung-ket-cuoc-thi-y-tuong-sang-tao-khoi-nghiep-mo-rong-tai-dh-nguyen-tat-thanh-nttu-start-up-open-day-2019.html">Chung
                              kết cuộc thi Ý tưởng sáng tạo khởi nghiệp mở rộng tại ĐH Nguyễn Tất Thành - NTTU Start-up
                              Open
                              Day 2019</a></h5>
                        <ul class="breadcrumb mb-0 bgm-white">
                           <li class="breadcrumb-item col-xs-auto time">
                              <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>07:30
                           </li>
                           <li class="breadcrumb-item col-xs-auto">Hội trường lầu 9, cơ sở An Phú Đông, 331 Quốc lộ 1A,
                              Phường
                              An Phú Đông, Quận 12</li>
                        </ul>
                     </div>
                  </li>
               </ul>
               <ul class="list-unstyled">
                  <li><a class="c-blue-a5 font-weight-bold" href="su-kien.html"><i
                           class="fa fa-chevron-circle-right mr-2 c-blue-a5"></i>Xem thêm</a></li>
               </ul>
            </div>
         </div>
         <!-- /content -->
      </section>
   </div>
</div>
<!-- footer -->
<footer>
   <div class="container">
      <div class="row fnav pb-4">
         <div class="col-lg-3 col-sm-6">
            <p><a href="#"><b>ĐH NGUYỄN TẤT THÀNH</b></a></p>
            <ul class="fsub">
               <li><a href="Thu-ngo-hieu-truong.html">Thư ngỏ</a></li>
               <li><a href="tam-nhin-su-mang.html">Tầm nhìn - Sứ mạng</a></li>
               <li><a href="van-hoa-dh-nguyen-tat-thanh.html">Văn hóa ĐH Nguyễn Tất Thành</a></li>
               <li><a href="thong-tin-3-cong-khai.html">Thông tin 3 công khai</a></li>
               <li><a href="dam-bao-chat-luong.html">Đảm bảo chất lượng</a></li>
               <li><a href="phat-trien-ben-vung_1.html">Phát triển bền vững</a></li>
               <li><a href="index_11.html">Trường Trung cấp Nguyễn Tất Thành</a></li>
               <li><a href="index_4.html">Trường Tiểu học Anh Việt Mỹ</a></li>
            </ul>
         </div>

         <div class="col-lg-3 col-sm-6">
            <p><a href="nhung-phong-ban-trung-tam-gan-bo-voi-sinh-vien-suot-4-nam-hoc-tai-dh-nguyen-tat-thanh.html"><b>PHÒNG
                     - BAN</b></a></p>

            <p><a href="index_15.html"><b>THƯ VIỆN ẢNH</b></a></p>
            <p><a href="index_3.html"><b>E-LEARNING</b></a></p>

         </div>

         <div class="col-lg-3 col-sm-6">
            <p><a href="#"><b>TRUNG TÂM - VIỆN</b></a></p>
            <ul class="fsub">
               <li><a href="trang-chinh.html">Viện Đào Tạo Quốc Tế</a></li>
               <li><a href="index_2.html">Viện Công Nghệ Cao</a></li>
               <li><a href="index_12.html">Viện Đào tạo Sau đại học</a></li>
               <li><a href="index_8.html">Trung tâm Thông tin Thư viện</a></li>
               <li><a href="index_14.html">TT Ngoại Ngữ</a></li>
               <li><a href="index_17.html">TT Tin Học NTT</a></li>
               <li><a href="index_5.html">TT QH Doanh Nghiệp &amp; Khởi nghiệp</a></li>
               <li><a href="index_10.html">TT Đào tạo theo nhu cầu XH</a></li>
               <li><a href="index_7.html">TT Xuất khẩu lao động Texgamex</a></li>
               <li><a href="index_6.html">Công đoàn Trường ĐH Nguyễn Tất Thành</a></li>
            </ul>
         </div>
         <div class="col-lg-3 col-sm-6">
            <ul class="sub-page">
               <li><a href="unsupportedbrowser.html" class="btn"><i class="fa fa-facebook-official"></i>Facebook</a>
               </li>
               <li><a href="ServiceLogin.html" class="btn"><i class="fa fa-google-plus"></i>Google Plus</a></li>
               <li><a href="daihocntt.html" class="btn"><i class="fa fa-youtube-play"></i>Youtube</a></li>
               <li><a href="mailto:#" class="btn"><i class="fa fa-envelope"></i>Email</a></li>
               <li><a href="#" class="btn"><i class="fa fa-wechat"></i>Zalo</a></li>
               <li><a href="Login.aspx" class="btn"><i class="fa fa-mortar-board"></i>Egov</a></li>
               <li><a href="index_1.html" class="btn"><i class="fa fa-users"></i>Tuyển dụng</a></li>
            </ul>
         </div>

         <!-- /row -->
      </div>
      <!-- /container -->
   </div>
   <div class="copyright">
      <div class="container">
         <div class="row pb-2">
            <div class="col-md-7">
               <p class="pb-0">
                  <b>THÔNG TIN LIÊN HỆ </b>
                  <br> Trụ sở chính: <b>300A – Nguyễn Tất Thành, Phường 13, Quận 4, TP. Hồ Chí Minh, Việt Nam</b>
                  <br> Điện thoại: <b> 1900 2039 </b> Fax: <b>028 39 404 759</b>
                  <br> Hotline: <b>0902 298 300 – 0906 298 300 – 0912 298 300 – 0914 298 300</b>
                  <br> Email: <b>tttvtsinh@ntt.edu.vn – bangiamhieu@ntt.edu.vn </b>

               </p>

            </div>
            <div class="col-md-5">
               <p class="pb-0">&copy;2017. Bản quyền thuộc về trường <b>Đại học Nguyễn Tất Thành</b></p>
            </div>
         </div>

         <!-- /container -->
      </div>
   </div>
</footer>
<!-- footer -->