<!-- header -->
<header class="top-header" style>
   <div class="container">
      <div class="d-flex justify-content-sm-center justify-content-sm-end">
         <div class="h-wrapper">
            <button type="button" class="btn btn-hnav hidden-lg-up" id="hnav-trigger" data-trigger="#hnav"><i
                  class="fa fa-bars"></i></button>

            <div class="d-lg-flex justify-content-md-end" id="hnav">
               <div class="mr-auto">
                  <div class="hotline mb-0 text-md-left" id="phoneList">
                     <div class="h-title">Hotline: </div>
                     <ul class="list-unstyled">
                        <li>
                           <a href="tel:0902.298.300">0902.298.300</a> -
                           <a href="tel:0906.298.300">0906.298.300</a>
                        </li>
                        <li>
                           <a href="tel:0912.298.300">0912.298.300</a> -
                           <a href="tel:0914.298.300">0914.298.300</a>
                        </li>
                     </ul>
                  </div>
               </div>
               <nav class="hnav col-lg-8">
                  <ul class="d-lg-flex justify-content-between">
                     <li><a href="index_13.html">Sinh viên</a></li>
                     <li><a href="index_1.html">Giảng viên</a></li>
                     <li><a href="trang-chinh.html">Đào tạo quốc tế</a></li>

                     <li>
                        <a href="co-so-dao-tao.html"></a>
                     </li>
                  </ul>
               </nav>
            </div>
            <!-- /hwrapper -->
         </div>

         <div class="search-wrapper d-flex justify-content-between">
            <div class="search">
               <form action="/web/tim-kiem">
                  <div class="input-group">
                     <input class="form-control btn-transparent border-0" placeholder="Tìm kiếm thông tin"
                        name="keyword">
                     <span class="input-group-btn">
                        <button class="btn btn-transparent btn-secondary border-0"><i class="fa fa-search"
                              aria-hidden="true"></i></button>
                     </span>
                  </div>
               </form>
               <!-- /search -->
            </div>

            <div class="language" style="margin-left: 10px; margin-top: 5px;">
               <a class="text-center" href="web.html"><img src="images/ico-flagen.jpg" alt></a>
            </div>
         </div>
      </div>
      <!-- /container -->
   </div>
   <!-- /top-header -->
</header>

<div class="header" style="box-shadow: 0 1px 1px rgba(0,0,0,0.15);">
   <div class="container">
      <div class="d-flex align-items-center py-2">
         <h1 class="logo m-0"><a href="index.html"><img src="/assets/images/logo_ntt.png" alt
                  style="height: 70px !important;"></a></h1>

         <div class=" w-100 hidden-md-down">
            <ul class="h-nav list-unstyled mb-0 d-flex justify-content-between align-items-center"
               style="margin-left: 20px;">
               <li>
                  <a [routerLink]="['/introduce']" routerLinkActive="router-link-active"
                     class="d-flex align-items-center">
                     <span class="bdr-round"><i class="fa fa-info-circle"></i></span>
                     <span class="txt">Giới thiệu</span>
                  </a>
               </li>
               <li>
                  <a href="tuyen-sinh.html" class="d-flex align-items-center">
                     <span class="bdr-round"><i class="fa fa-graduation-cap"></i></span>
                     <span class="txt">Tuyển sinh</span>
                  </a>
               </li>
               <li>
                  <a href="dao-tao.html" class="d-flex align-items-center">
                     <span class="bdr-round"><i class="fa fa-book"></i></span>
                     <span class="txt">Đào tạo</span>
                  </a>
               </li>
               <li>
                  <a href="nghien-cuu.html" class="d-flex align-items-center">
                     <span class="bdr-round"><i class="fa fa-bookmark"></i></span>
                     <span class="txt">Nghiên cứu</span>
                  </a>
               </li>
               <li>
                  <a href="hop-tac-doanh-nghiep.html" class="d-flex align-items-center">
                     <span class="bdr-round"><i class="fa fa-handshake-o"></i></span>
                     <span class="txt">Hợp tác doanh nghiệp</span>
                  </a>
               </li>
               <!-- /h-nav -->
            </ul>
         </div>
         <!-- /d-flex -->
      </div>
      <button type="button" class="btn btn-gnav" id="menu-trigger" data-trigger="#menu"><i
            class="fa fa-bars c-blue-a5"></i></button>
      <!-- /container -->
   </div>
   <!-- /header -->
</div>

<div class="gnav">
   <div class="container">
      <nav id="menu">
         <div class="row">
            <div class="col-lg-3 col-sm-6">
               <p><a href="gioi-thieu.html">Giới thiệu chung</a></p>
               <ul class="sub-nav">
                  <li><a href="gioi-thieu-chung.html"><i class="fa fa-angle-double-right"></i>Giới thiệu chung</a></li>
                  <li><a href="toan-canh-dh-nguyen-tat-thanh.html"><i class="fa fa-angle-double-right"></i>Toàn cảnh ĐH
                        Nguyễn Tất Thành</a></li>
                  <li><a href="thong-tin-3-cong-khai.html"><i class="fa fa-angle-double-right"></i>Thông tin 3 công
                        khai</a></li>
                  <li><a href="index_9.html"><i class="fa fa-angle-double-right"></i>Đảm bảo chất lượng</a></li>
                  <li><a href="phat-trien-ben-vung.html"><i class="fa fa-angle-double-right"></i>Phát triển bền vững</a>
                  </li>
               </ul>

               <p><a href="#">Hợp tác doanh nghiệp</a></p>
               <ul class="sub-nav">
                  <li><a href="gioi-thieu-viec-lam.html"><i class="fa fa-angle-double-right"></i>Giới thiệu việc làm</a>
                  </li>
                  <li><a href><i class="fa fa-angle-double-right"></i>Giới thiệu thực tập</a></li>
                  <li><a href><i class="fa fa-angle-double-right"></i>Câu lạc bộ Doanh nghiệp</a></li>
                  <li><a href><i class="fa fa-angle-double-right"></i>Ban liên lạc Cựu sinh viên</a></li>
                  <li><a href="tin-tuc-va-su-kien.html"><i class="fa fa-angle-double-right"></i>Liên kết - Hợp tác</a>
                  </li>
               </ul>
            </div>
            <div class="col-lg-3 col-sm-6">
               <p><a href="#">Tuyển sinh</a></p>
               <ul class="sub-nav">
                  <li><a href="cac-bac-dao-tao.html"><i class="fa fa-angle-double-right"></i>Các bậc đào tạo</a></li>
                  <li><a href="thong-tin-tuyen-sinh.html"><i class="fa fa-angle-double-right"></i>Thông tin tuyển
                        sinh</a></li>
                  <li><a href="chinh-sach-hoc-bong.html"><i class="fa fa-angle-double-right"></i>Chính sách học bổng</a>
                  </li>
                  <li><a href="huong-nghiep.html"><i class="fa fa-angle-double-right"></i>Hướng nghiệp</a></li>
                  <li><a href="dang-ky-truc-tuyen.html"><i class="fa fa-angle-double-right"></i>Xét tuyển trực tuyến</a>
                  </li>
               </ul>

               <p><a href="#">Nghiên cứu</a></p>
               <ul class="sub-nav">
                  <li><a href="hoat-dong-khcn.html"><i class="fa fa-angle-double-right"></i>Hoạt động khoa học công
                        nghệ</a></li>
                  <li><a href="index_16.html"><i class="fa fa-angle-double-right"></i>Viện - Trung tâm nghiên cứu</a>
                  </li>
                  <li><a href="index_16.html"><i class="fa fa-angle-double-right"></i>Công bố khoa học</a></li>
               </ul>
            </div>

            <div class="col-lg-3 col-sm-6">
               <p><a href="dao-tao.html">Đào tạo</a></p>
               <ul class="sub-nav">
                  <li><a href="khoi-khoa-hoc-suc-khoe.html"><i class="fa fa-angle-double-right"></i>Khối Khoa học sức
                        khỏe</a></li>
                  <li><a href="khoi-kinh-te-quan-tri.html"><i class="fa fa-angle-double-right"></i>Khối Kinh tế - Quản
                        trị</a></li>
                  <li><a href="khoi-ky-thuat-cong-nghe.html"><i class="fa fa-angle-double-right"></i>Khối Kỹ thuật -
                        Công nghệ</a></li>
                  <li><a href="khoi-khoa-hoc-xa-hoi-nhan-van.html"><i class="fa fa-angle-double-right"></i>Khối Khoa học
                        xã hội - Nhân văn</a></li>
                  <li><a href="khoi-my-thuat-nghe-thuat.html"><i class="fa fa-angle-double-right"></i>Khối Mỹ thuật -
                        Nghệ thuật</a></li>
                  <li><a href="trang-chinh.html"><i class="fa fa-angle-double-right"></i>Khối đào tạo quốc tế</a></li>
               </ul>
            </div>

            <div class="col-lg-3 col-sm-6">
               <ul class="sub-page">
                  <li><a href="unsupportedbrowser.html" class="btn"><i class="fa fa-facebook-official"></i>Facebook</a>
                  </li>
                  <li><a href="ServiceLogin.html" class="btn"><i class="fa fa-google-plus"></i>Google Plus</a></li>
                  <li><a href="daihocntt.html" class="btn"><i class="fa fa-youtube-play"></i>Youtube</a></li>
                  <li><a href="mailto:#" class="btn"><i class="fa fa-envelope"></i>Email</a></li>
                  <li><a href="#" class="btn"><i class="fa fa-wechat"></i>Zalo</a></li>
                  <li><a href="Login.aspx" class="btn"><i class="fa fa-mortar-board"></i>Egov</a></li>
                  <li><a href="index_1.html" class="btn"><i class="fa fa-users"></i>Tuyển dụng</a></li>
               </ul>
            </div>
         </div>
      </nav>
      <!-- /container -->
   </div>
   <!-- /gnav -->
</div>
<!-- header -->

<!-- content -->
<div class="container">

   <router-outlet></router-outlet>

</div>
<!-- content -->

<!-- footer -->
<footer>
   <div class="container">
      <div class="row fnav pb-4">
         <div class="col-lg-3 col-sm-6">
            <p><a href="#"><b>ĐH NGUYỄN TẤT THÀNH</b></a></p>
            <ul class="fsub">
               <li><a href="Thu-ngo-hieu-truong.html">Thư ngỏ</a></li>
               <li><a href="tam-nhin-su-mang.html">Tầm nhìn - Sứ mạng</a></li>
               <li><a href="van-hoa-dh-nguyen-tat-thanh.html">Văn hóa ĐH Nguyễn Tất Thành</a></li>
               <li><a href="thong-tin-3-cong-khai.html">Thông tin 3 công khai</a></li>
               <li><a href="dam-bao-chat-luong.html">Đảm bảo chất lượng</a></li>
               <li><a href="phat-trien-ben-vung_1.html">Phát triển bền vững</a></li>
               <li><a href="index_11.html">Trường Trung cấp Nguyễn Tất Thành</a></li>
               <li><a href="index_4.html">Trường Tiểu học Anh Việt Mỹ</a></li>
            </ul>
         </div>

         <div class="col-lg-3 col-sm-6">
            <p><a href="nhung-phong-ban-trung-tam-gan-bo-voi-sinh-vien-suot-4-nam-hoc-tai-dh-nguyen-tat-thanh.html"><b>PHÒNG
                     - BAN</b></a></p>

            <p><a href="index_15.html"><b>THƯ VIỆN ẢNH</b></a></p>
            <p><a href="index_3.html"><b>E-LEARNING</b></a></p>

         </div>

         <div class="col-lg-3 col-sm-6">
            <p><a href="#"><b>TRUNG TÂM - VIỆN</b></a></p>
            <ul class="fsub">
               <li><a href="trang-chinh.html">Viện Đào Tạo Quốc Tế</a></li>
               <li><a href="index_2.html">Viện Công Nghệ Cao</a></li>
               <li><a href="index_12.html">Viện Đào tạo Sau đại học</a></li>
               <li><a href="index_8.html">Trung tâm Thông tin Thư viện</a></li>
               <li><a href="index_14.html">TT Ngoại Ngữ</a></li>
               <li><a href="index_17.html">TT Tin Học NTT</a></li>
               <li><a href="index_5.html">TT QH Doanh Nghiệp &amp; Khởi nghiệp</a></li>
               <li><a href="index_10.html">TT Đào tạo theo nhu cầu XH</a></li>
               <li><a href="index_7.html">TT Xuất khẩu lao động Texgamex</a></li>
               <li><a href="index_6.html">Công đoàn Trường ĐH Nguyễn Tất Thành</a></li>
            </ul>
         </div>
         <div class="col-lg-3 col-sm-6">
            <ul class="sub-page">
               <li><a href="unsupportedbrowser.html" class="btn"><i class="fa fa-facebook-official"></i>Facebook</a>
               </li>
               <li><a href="ServiceLogin.html" class="btn"><i class="fa fa-google-plus"></i>Google Plus</a></li>
               <li><a href="daihocntt.html" class="btn"><i class="fa fa-youtube-play"></i>Youtube</a></li>
               <li><a href="mailto:#" class="btn"><i class="fa fa-envelope"></i>Email</a></li>
               <li><a href="#" class="btn"><i class="fa fa-wechat"></i>Zalo</a></li>
               <li><a href="Login.aspx" class="btn"><i class="fa fa-mortar-board"></i>Egov</a></li>
               <li><a href="index_1.html" class="btn"><i class="fa fa-users"></i>Tuyển dụng</a></li>
            </ul>
         </div>

         <!-- /row -->
      </div>
      <!-- /container -->
   </div>
   <div class="copyright">
      <div class="container">
         <div class="row pb-2">
            <div class="col-md-7">
               <p class="pb-0">
                  <b>THÔNG TIN LIÊN HỆ </b>
                  <br> Trụ sở chính: <b>300A – Nguyễn Tất Thành, Phường 13, Quận 4, TP. Hồ Chí Minh, Việt Nam</b>
                  <br> Điện thoại: <b> 1900 2039 </b> Fax: <b>028 39 404 759</b>
                  <br> Hotline: <b>0902 298 300 – 0906 298 300 – 0912 298 300 – 0914 298 300</b>
                  <br> Email: <b>tttvtsinh@ntt.edu.vn – bangiamhieu@ntt.edu.vn </b>

               </p>

            </div>
            <div class="col-md-5">
               <p class="pb-0">&copy;2017. Bản quyền thuộc về trường <b>Đại học Nguyễn Tất Thành</b></p>
            </div>
         </div>

         <!-- /container -->
      </div>
   </div>
</footer>
<!-- footer -->